name: Python Containerized CI
 
on:
  push:
    branches:
      - main
  workflow_dispatch:
 
jobs:
  docker:
    runs-on: ubuntu-latest
 
    steps:
      # Step 1: Checkout source code
      - name: Checkout code
        uses: actions/checkout@v4
 
      # Step 2: Build Docker image
      - name: Build Docker Image
        run: |
          docker build -t nithish005/python-app:1.0 .
 
      # Step 3: Docker Hub Login
      - name: Docker Login
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login \
            -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
 
      # Step 4: Push image to Docker Hub
      - name: Push Docker Image
        run: |
          docker push nithish005/python-app:1.0
