name: Python Containerized CI
 
on:
  push:
    branches:
      - main
  workflow_dispatch:
  
permissions:
  contents: read
  packages: write 
 
jobs:
  docker:
    runs-on: ubuntu-latest
 
    steps:
      # Step 1: Checkout source code
      - name: Checkout code
        uses: actions/checkout@v4
 
      # Step 2: Build Docker image
      - name: Build Docker Image
        run: |
          docker build -t nithish005/python-flask-app .
 
      # Step 3: Docker Hub Login
      - name: Docker Login
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login \
            -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
            
            # ------------------ DOCKER LOGIN (GHCR) ------------------
      - name: Docker login (GHCR)
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      -  name: Build and push Docker image
         uses: docker/build-push-action@v6
         with:
          context: .
          push: true
          file: ./Dockerfile
          tags: |
            ghcr.io/${{ github.repository }}:latest
 
      # Step 4: Push image to Docker Hub
      - name: Push Docker Image
        run: |
          docker push nithish005/python-flask-app
          
